<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.daob.BMapper">

    <insert id="saveInfo" parameterType="com.study.domain.DS2_B">
        insert into ds2_b (b1, b2) values (#{b1,jdbcType=INTEGER}, #{b2,jdbcType=CHAR})
    </insert>
</mapper>